.m {
  color: red;
}

.mentor-section {
  display: flex;
  flex-direction: column;
}

h2.intro:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 90%;
  left: 0;
  background-color: hsl(204deg 100% 50% / 9%);
  transform: skew(-11deg, 0deg);
  border-radius: 2%;
  border: 3px solid var(--titlesBorder);
}

h2.intro {
  position: relative;
  width: 355px;
  height: 60px;
  text-align: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 900;
  justify-content: center;
  align-items: center;
  margin: 0 auto 5rem;
  background: linear-gradient(45deg, var(--color-header), transparent);
  color: transparent;
  background-clip: text;
  letter-spacing: 10px;
  transition: letter-spacing 1s 0.3s ease-out;
}

@media (max-width: 1110px) {
  h2.intro {
    position: relative;
    width: 250px;
    height: 54px;
    text-align: center;
    display: flex;
    font-size: 1.25rem;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5rem;
    background: linear-gradient(45deg, var(--color-header), transparent);
    color: transparent;
    background-clip: text;
    letter-spacing: 10px;
    transition: letter-spacing 1s 0.3s ease-out;
  }
}

/* slider */

.slider {
  --width: 150px;
  --height: 150px;
  --quantity: 8;
  width: 100%;
  /* border: 1px solid red; */
  position: relative;
  overflow-x: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    transparent
  );
}

.slider:hover .mentor-card {
  animation-play-state: paused !important;
}

.inner {
  display: flex;
  gap: 40px;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  min-height: calc(var(--height) + 45px);
  position: relative;
}

.mentor-card .card-image {
  width: 100%;
  transition: 0.3s;
}
