footer.flex {
  justify-content: space-between;
  padding-bottom: 2rem;
}

footer.flex ul {
  gap: 1rem;
}

footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
}

footer.flex ul a:hover {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
}

footer.flex p {
  color: rgb(113, 113, 122);
}

@media (max-width: 800px) {
  footer.flex {
    flex-direction: column;
    gap: 2rem;
  }
}

.thankU {
  background: linear-gradient(45deg, var(--color-header), transparent);
  color: transparent;
  background-clip: text;
  letter-spacing: 10px;
  transition: letter-spacing 1s 0.3s ease-out;
  font-family: "Alex Brush", cursive;
  font-size: 2rem;
}

@media (max-width: 1115) {
  .thankU {
    text-align: center;
  }
}
