.mentor-card {
  cursor: pointer;
  box-shadow: 1px 0px 5px #00000059;
  width: var(--width);
  height: var(--height);
  left: 100%;
  animation: autorun 7s linear infinite;
  position: absolute;
}

.card-1 {
  animation-delay: calc(7s / var(--quantity) * (0));
}
.card-2 {
  animation-delay: calc(7s / var(--quantity) * (1));
}
.card-3 {
  animation-delay: calc(7s / var(--quantity) * (2));
}
.card-4 {
  animation-delay: calc(7s / var(--quantity) * (3));
}
.card-5 {
  animation-delay: calc(7s / var(--quantity) * (4));
}
.card-6 {
  animation-delay: calc(7s / var(--quantity) * (5));
}
.card-7 {
  animation-delay: calc(7s / var(--quantity) * (6));
}
.card-8 {
  animation-delay: calc(7s / var(--quantity) * (7));
}

@keyframes autorun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.mentor-card:hover div.mentor-tech {
  width: 100%;
  height: 80px;
  opacity: 1;
  bottom: 0;
}

.mentor-card .card-image {
  width: 100%;
  height: 100%;
}

.mentor-card:hover .card-image {
  transform: scale(1.09);
}

/* .mentor-card:hover .tech-image {
  opacity: 1;
} */

/* div.mentor-tech {
    position: absolute;
    bottom: 200px;
    background-color: rgba(5, 152, 250, 0.466);
    width: 0;
    height: 0;
    text-align: center;
    opacity: 0;
    transition: bottom 0.6s ease-in-out, width 0.6s ease-in-out, height 0.6s ease-in-out, color 0.9s 0.1s ease-in-out;
    font-size: 1.2rem;
    transform: translate(0px, 0px);
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
} */

/* div.mentor-tech::after {
  content: "Tech";
  position: absolute;
  width: 31px;
  height: 13px;
  background-color: hsla(12, 95%, 60%, 0.604);
  opacity: 0;
  color: hsl(0, 0%, 20%);
  font-size: 0.8rem;
  font-weight: bold;
  top: 0;
  left: 0;
  text-align: center;
  padding: 2px;
  border-radius: 2px;
  transition: 0.6s 0.6s ease-in-out;
} */

/* .mentor-card:hover div.mentor-tech::after {
  opacity: 1;
} */

h2.mentor-name {
  z-index: 5;
  width: 90%;
  height: 50px;
  color: hsl(0, 0%, 0%, 70%);
  position: absolute;
  background-color: white;
  font-size: 0.9rem;
  padding: 8px;
  left: 5%;
  bottom: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 7px #00000042;
}

h2.mentor-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: var(--blue);
  opacity: 0;
  transition: 0.5s;
}

.mentor-card:hover h2.mentor-name::after {
  opacity: 1;
}

.image-holder {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* .tech {
  display: block;
} */

/* .tech-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.6s 0.4s ease-in-out;
  padding: 1px;
} */

/* .oop {
  width: 45px;
  height: 45px;
} */
